section.animation{
	height: 600px;
	}

/* Still needs to be animated */
.animated{
	width: 150px;
	height: 75px;
	position: relative;
	top: 300px;
	left: 20%;
	animation-name: flying;
	animation-duration: 7s;
	animation-delay: 1s;
	animation-timing-function: linear;
	animation-fill-mode: backwards;
	}
		
@keyframes flying{
	0% {width: 1px; height:1px; left: 0%; top: 20%;}
	25% {width: 70px; height: 35px; left: 15%; top: 30%;}
	50% {width: 150px; height: 75px; left: 30%; top: 40%;}
	75% {width: 200px; height: 100px; left: 40%; top: 50%;}
	100% {width: 300px; height: 150px; left: 50%; top: 60%;}
	}

img.anim{
	width: 100%;
	height: 100%;
	}

.tag{
	position: relative;
	top: 120px;
	}

.article_container{
	width: 100%;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-content: space-between;
	padding: 5px;
	}
	
article{
	width: 256px;
	display: block;
	border: 1px solid #B8AA74;
	padding: 10px;
	margin: 10px;
	}

.article_img{
	width: 200px;
	margin: 10px;
	}	
	
.sign_up{
	text-align: right;
	}

button.register{
	margin: 10px 15px;	
	padding: 15px 25px;	
	animation-name: flashing;
	animation-duration: 4s;
	animation-delay: 1s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
	animation-timing-function: ease-in-out;
	}	
	
@keyframes flashing{
	from {background-color: #0D2946; color: #B8AA74; border: 1px solid #B8AA74;}
	to {background-color: #B8AA74; color: #0D2946; border: 1px solid #0D2946;}
	}	
	
@media screen and (max-width: 1212px){
	div.sign_up{
		text-align: center;
		}
	}	

@media screen and (max-width: 700px){
		
	article{
		text-align: center;
		}
	
	}

a.wth:link{
	font-size: 14px; 
	font-weight: bold; 
	color: #FFFFFF;
	padding: 10px;
	}	
	
a.wth:active{
	color: #FFFFFF;
	}
	
a.wth:visited{
	color: #FFFFFF;
	}
	
a.wth:hover{
	text-shadow: 2px 2px 5px #32FFFF;
	}
	








