#mini_wrapper{
/*middle_wrapper*/
	width: 100%;
	top: 75px;
	}
	
main#mini_main{
	width: 90%;
	}

#mini_content{
	height: 400px;
	}
	
div#mini_nav{	
	display: flex;
	flex-direction: column;
	}
	
button.mini_button{
	width: 80%;
	max-width: 250px;
	margin: 3px auto;
	}